    <section class="fir ">
        <main class="flex justify-between items-center px-2 position-relative ">
        <div class="drop">
                <button><span class="ball me-2 ">G</span>MaYaDiRam</button>
                <div class="down">
                    <div class="jik">
                        <p class="paw">G</p>
                        <span class="material-symbols-outlined komm">
                            edit
                            </span>
                    </div>
                    <div class="boss text-center "> 
                        <p>Gbolahan Awosemo</p>
                        <p>adeyemiawosemo&#64;gmail.com</p>
                    </div>
                    <main>
                        <div class="flex justify-between my-2">
                        <div class="flex items-center">
                            <span class="material-symbols-outlined text-sm pe-2">
                                palette
                                </span>
                            <P>Theme</P>
                        </div>  
                        <span class="material-symbols-outlined">
                            arrow_right
                            </span>
                        </div>
                        <div class="d-flex my-2 items-center">
                            <span class="material-symbols-outlined text-sm pe-2">
                                discover_tune
                                </span>
                            <p>Settings</p>
                        </div>
                        <div class="d-flex my-2 items-center">
                            <span class="material-symbols-outlined text-sm pe-2">
                                download
                                </span>
                            <p>Get desktop app</p>
                        </div>
                    </main><hr>
                    <main>

                        <div class="flex  itmes-center text-sm my-2">
                            <div class="flex items-center me-5" >
                                
                                <p class="klap me-2 ">G</p>
                                <div class="">
                                    <P class="text-sm">Gbolahan Awosemo</P>
                                    <p class="wqw">awosemo&#64;gmail.com
                                    </div>
                                </div>
                                <div>

                                    <span class="material-symbols-outlined text-sm mt-2">
                                        check
                                    </span>
                                </div>
                        </div>
                            <div class="flex items-center my-2">
                                <p class="pe-2">+</p>
                                <p>Add account</p>
                            </div>
                    </main><hr>
                    <div class="flex items-center text-sm my-2 ">
                        <span class="material-symbols-outlined text-sm pe-2">
                            logout
                            </span>
                        <p class="text-sm ">Log Out</p>
                    </div>
                </div>
        </div>
        <span class="material-symbols-outlined">
            notifications
            </span>
        </main>
        <main class="my-2 ">
            <div class="new">
                <span class="material-symbols-outlined">
                    search
                </span>
                <input class="mat" type="text" placeholder="Search files, teams, or people"  name="" id="">
            </div>
        </main><hr>
            <section class="bant">
                <div class="flex items center my-2 demm py-2 px-1 ">
                    <span class="material-symbols-outlined pe-2 text-base">
                
                        schedule
                    </span>
                    <p>Recents</p>
                </div>
            
            <main class="py-3"> 
                <div class="flex items-center">
                    <span class="material-symbols-outlined pe-2 text-base">
                        diversity_2
                    </span>
                    <h6>Your teams</h6>
                </div>
                <div class="flex items-center py-1">
                    <span class="material-symbols-outlined pe-2 text-base">
                        draft
                    </span>
                    <p class="">Drafts</p>
                </div>
            </main><hr>
            <main class="text-center py-2  my-6 pama">
                <div>
                    <span class="material-symbols-outlined ">
                        arrow_circle_up
                        </span>
                    <p class="my-3">Ready to go beyond this free plan? Upgrade for premium features.</p>
                    <button class="brav">view plans</button>
                </div>
            </main><hr>
            <p class="font-bold py-3">Favourite files</p><hr>
            <main>
                <p class="text-sm font-bold my-2">Teams</p>
                <div class="flex   items-center">
                    <p class="kilm bg-blue-500"></p>
                    <p class="ms-3 me-5">Big MaYaDiRam teams</p>
            <p class="text-blue-500 bg-white-800 p-1">free</p>
            </div>
            <p class="ps-4 py-2 ">Team Project</p>
            <div class="flex  items-center">
                <span class="material-symbols-outlined text-base pe-2">
                    add
                    </span>
                <p class="">Create new team</p>
            </div>
        </main>
    </section>
    <main class="py-2 mt-2 baubal"><hr>
        <div class="flex items-center py-2">
            <span class="material-symbols-outlined text-sm pe-2">
                language
                </span>
            <p>Explore Community</p>
        </div>
    </main>
        
    </section>
