
.allt{
    height: 100vh;
    /* background-color: red; */
    overflow: auto;
}

.net{
    background-color: rgb(151,71,255);
    margin:0  10px;
}
.fen{
    background-color: transparent;
    border: 1px solid black;
    padding: 8px 15px;
    border-radius: 10px;
}
.glon{
    box-shadow: 2px 2px 2px gainsboro;
    padding:25px 40px;
    font-size: 15px;
    /* position: fixed; */
}
.borp{
    /* border:1px solid gray ; */
    box-shadow: 2px 2px 2px gainsboro;
    padding:15px 40px;
    font-size: 15px;
}
.bgb{
    background-color: rgb(13,153,255);
}
.texti{
    font-size: 18px ;
       
}
.lagos{
    
    /* background-color: ; */
   
    display: flex;
    /* align-items: center; */
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.grid1{
    width: 31%;
    margin: 1%;
    /* background-color: rgb(66, 230, 29); */
}
.lol{
    width: 30%;
}