<section class="allt">
    <main class="flex justify-between items-center borp">

        <div class="">
            <h6 class="text-lg texti">Drafts</h6>
        </div>
        <div class="flex justify-between items-center">

            <p class="flex items-center py-2 px-3  bgb text-white rounded ">
                <span  class="material-symbols-outlined ">
                    add
                </span>
                Design file
            </p>

            <p class="py-2 px-2  net text-white rounded flex items-center">
                <span  class="material-symbols-outlined ">
                    add
                    </span>
                    FigJam board
            </p>
            <p class="fen">Import</p>

        </div>
        
    </main>
    <main class="glon">
        <div class="flex justify-between items-center  ">
            <div class="flex items-center">
                <p class="bg-gray-200 p-2 rounded me-3  ">Drafts</p>
                <p>Deleted</p>
            </div>

            <div class="flex items-center justify-between ">
                <p class="flex items-center">All files <span class="material-symbols-outlined">
                    expand_more
                    </span></p>
                <p class="flex items-center mx-4" >Last modified <span class="material-symbols-outlined">
                    expand_more
                    </span></p>
                <p class="px-2"> <span class="material-symbols-outlined">
                    browse
                    </span></p>

                    <p><span class="material-symbols-outlined">
                        menu
                        </span></p>
            </div>
        </div>

        <div class="my-9  lagos">
            <div class="grid1">
                <img src="../../assets/1.png" class="w-95 h-60  rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>
            <div class="grid1">
                <img src="../../assets/22.png" class="w-95 h-64 rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>
            <div class="grid1">
                <img src="../../assets/48fda945-5c59-4255-ad17-387ab16affa3.png" class="w-95 h-64 rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>
            <div class="grid1">
                <img src="../../assets/585c32a5-9def-4417-a49f-eda52bfbed9b.png" class="w-95 h-64 mx-auto rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>
            <div class="grid1">
                <img src="../../assets/download.jpeg" class="w-95 h-64 mx-auto rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>
            <div class="grid1">
                <img src="../../assets/download (1).jpeg" class="w-95 h-64 mx-auto rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>
            <div class="grid1">
                <img src="../../assets/faa17e23-a0be-4809-85ea-101cb4c59329.png" class="w-95 h-64 mx-auto rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>
            <div class="grid1">
                <img src="../../assets/images (1).jpeg" class="w-95 h-64 mx-auto rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>
            <div class="grid1">
                <img src="../../assets/images.jpeg" class="w-95 h-64 mx-auto rounded " alt="" srcset="">
                <p class="my-2">Real Estate Template by Flowbase.co...</p>
                <p>Edited 2 months ago</p>
            </div>

         
        </div>

    </main>
    
        <div class="bg-black fixed text-light bottom-4 right-4 w-fit text-lg rounded-full p-2">
            <span class="material-symbols-outlined ">
                question_mark
                </span>
              
        </div>
    
</section>