<section>
    <main class="flex justify-between items-center borp">

        <div class="">
            <h6 class="text-lg texti">Drafts</h6>
        </div>
        <div class="flex justify-between items-center">

            <p class="flex items-center py-2 px-3  bgb text-white rounded ">
                <span  class="material-symbols-outlined ">
                    add
                </span>
                Design file
            </p>

            <p class="py-2 px-2  net text-white rounded flex items-center">
                <span  class="material-symbols-outlined ">
                    add
                    </span>
                    FigJam board
            </p>
            <p class="fen">Import</p>

        </div>
        
    </main>
    <main class="glon">
        <div class="flex justify-between items-center  ">
            <div class="flex items-center">
                <p class="bg-gray-200 p-2 rounded me-3  ">Drafts</p>
                <p>Deleted</p>
            </div>

            <div class="flex items-center justify-between ">
                <p class="flex items-center">All files <span class="material-symbols-outlined">
                    expand_more
                    </span></p>
                <p class="flex items-center mx-4" >Last modified <span class="material-symbols-outlined">
                    expand_more
                    </span></p>
                <p class="px-2"> <span class="material-symbols-outlined">
                    browse
                    </span></p>

                    <p><span class="material-symbols-outlined">
                        menu
                        </span></p>
            </div>
        </div>

        <div>
            
        </div>

    </main>
    
        <div class="bg-black fixed text-light bottom-4 right-4 w-fit text-lg rounded-full p-2">
            <span class="material-symbols-outlined ">
                question_mark
                </span>
              
        </div>
    
</section>